/* Media Player ------------------------------------- */
.MediaPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MediaPlayer #mediaPlayerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #FFC439;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Settings ------------------------------------- */
.MediaPlayer #settings {
    font-size: 13px;
    color: #f2f2f2;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1px;
    margin-bottom: 0px;
}

.MediaPlayer #settings>form {
    background-color: rgb(41, 41, 41);
    border-right: solid 1px #FFC439;
    border-left: solid 1px #FFC439;
    border-top: solid 1px #FFC439;
    border-radius: 5px 5px 0 0;
    padding: 4px;
    font-size: 14px;
}

.MediaPlayer #settings>form {
    color: #FFC439;
}

.MediaPlayer input {
    border: 1px solid rgb(21, 21, 21);
    border-bottom: 1px solid #FFC439;
    /* border-radius: 5px; */
    background-color: rgb(21, 21, 21);
    color: #f2f2f2;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    margin: 1px;
    outline: none;
    width: 30px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Word and Sentence ------------------------------------- */
.MediaPlayer #wordContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    height: calc(100% - 27px);
    box-sizing: border-box;
    padding: 5px;
    font-size: 4vh;
    letter-spacing: 1px;
    word-spacing: 1px;
    cursor: pointer;
    overflow-y: auto;
}

.MediaPlayer #wordAndTranslationDiv {
    padding: 0px 8px;
    word-break: break-all;
    border-bottom: 1px dashed rgb(97, 97, 97);
    border-radius: 10px;
}

.MediaPlayer #sentenceAndTranslationDiv {
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed rgb(97, 97, 97);
    border-radius: 10px;
}

.MediaPlayer #sentenceAndTranslationDiv>div {
    margin: auto;
}

.MediaPlayer .translationDiv {
    color: rgb(143, 143, 143);
}

.MediaPlayer .hideTranslation {
    color: rgb(21, 21, 21);
}

/* Img ------------------------------------- */
.MediaPlayer #imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vh;
    height: 50vh;
    border-bottom: 1px dashed rgb(97, 97, 97);
    border-radius: 10px;
}

.MediaPlayer img {
    max-width: 97%;
    max-height: 97%;
    border: solid 1px #f2f2f2;
    border-radius: 10px;
}

/* Controllers ------------------------------------- */
.MediaPlayer #controllersDiv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    margin: 1px;
}

.MediaPlayer i:hover {
    cursor: pointer;
}

/* play */
.MediaPlayer #playDiv {
    display: flex;
    gap: 14px;
}

.MediaPlayer .fa-stop {
    /* color: red; */
    color: #f2f2f2;
}

.MediaPlayer .fa-play {
    /* color: rgb(82, 255, 47); */
    color: #f2f2f2;
}

.MediaPlayer .fa-forward,
.MediaPlayer .fa-backward {
    color: #f2f2f2;
}

/* Sum and Hide */
.MediaPlayer #sumDiv {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 900;
    width: 45px;
}

.MediaPlayer #hidingTranslationDiv {
    width: 39px;
}

.MediaPlayer #sumDiv,
.MediaPlayer .fa-eye,
.MediaPlayer .fa-eye-slash {
    color: #FFC439;
}

.MediaPlayer .fa-eye-slash,
.MediaPlayer .fa-eye {
    padding: 0 8px;
}

/* Mobile ------------------------------------- */
@media (max-width: 400px) {
    .MediaPlayer #imgDiv {
        width: 35vh;
        height: 25vh;
    }
}

/* loading image and audio -------------------- */
.MediaPlayer #wordAndTranslationDiv>div,
.MediaPlayer #sentenceAndTranslationDiv>div>div {
    position: relative;
}

.MediaPlayer #wordAndTranslationDiv .loading {
    position: absolute;
    top: 0;
    left: 0;
}

.MediaPlayer #sentenceAndTranslationDiv .loading {
    position: absolute;
    top: 0;
    left: 0;
}

.MediaPlayer .loading img {
    width: 40px;
    height: 40px;
    border: 0;
}